# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Builds
.DS_Store
dist/
dist-ssr/
coverage/

# Env
.env
.env.local
.env.*.local
*.local

# Editor
!.vscode/extensions.json
.idea/
*.swp

# TS
*.tsbuildinfo
.eslintcache

# Tests
/cypress/videos/
/cypress/screenshots/
/__screenshots__/

# Vite
*.timestamp-*-*.mjs

# Windows Zone Identifier
*.Zone.Identifier
*:Zone.Identifier

# PNPM monorepo
.pnp.*
.pnp.cjs
# pnpm-lock.yaml

# TODO
TODO.md

# Notes personnelles
notes/
